<!--
  Generated template for the AddemployeePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Employee</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form (ngSubmit)="saveCategory()">
    <ion-list>

        <ion-item>
          <ion-label fixed>Category Name</ion-label>
          <ion-input type="text" [(ngModel)]="data.name" name="name"></ion-input>
        </ion-item>
      
    </ion-list>

    <button ion-button color="dark" round type="submit">Save</button>
  </form>
</ion-content>
