<!--
  Generated template for the EditemployeePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Employee</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form (ngSubmit)="updateCategory()">
        <ion-list>
    
            <ion-item>
              <ion-label fixed>Category Name</ion-label>
              <ion-input type="text" [(ngModel)]="data.name" name="name"></ion-input>
            </ion-item>
          
        </ion-list>
    
        <button ion-button color="dark" round type="submit">Update</button>
      </form>

</ion-content>
