<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="addCategory()">Add Category</button>
  <button ion-button full color="danger" (click)="refresh()">Refresh</button>
  <h2 text-center>Category</h2>
  
  <ion-list>

    <ion-item-sliding *ngFor="let category of data">
      <ion-item>
        {{category.name}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="editCategory(category.id, category.name)">
          <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </button>
        <button ion-button color="danger">
            <ion-icon name="trash" md="md-add-circle" (click)="deleteCategory(category.id)"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>
