<ion-header>
    <ion-navbar>
      <ion-title>Expenses</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <button ion-button full (click)="addExpenses()">Add Expenses</button>
    <button ion-button full color="danger" (click)="refresh()">Refresh</button>
   
    <ion-list>
  
      <ion-item-sliding *ngFor="let expense of data">
        <ion-item>
          {{expense.title}}
        </ion-item>
        <ion-item>
          {{expense.category_id}}
        </ion-item>
        <ion-item>
            {{expense.amount}}
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="editExpenses(expense.id, expense.title, expense.category_id, expense.amount)">
            <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
          </button>
          <button ion-button color="danger">
              <ion-icon name="trash" md="md-add-circle" (click)="deleteExpenses(expense.id)"></ion-icon>
          </button>
        </ion-item-options>
  
      </ion-item-sliding>
    </ion-list>
  </ion-content>
  